<div class="creation">
    <div class="surfboard" #creation>
        <div *ngFor="let item of surfboardShape" [innerHTML]="getSVG(item.svg)" #surfboardSvg></div>
    </div>

    <div class="creation__content">
        <div class="creation__content__title">Choose board details</div>

        <div class="creation__content__text">
            <div>Colors</div>
            <div class="creation__content__text__colors">
                <div class="creation__content__text__colors__color" *ngFor="let color of colors; let i = index"
                    [style.backgroundColor]="color.background" (click)="setColor(color.background, i)"
                    [class.selected]="currentColor === i"></div>
            </div>
        </div>

        <div class="creation__content__text">
            <div>Shapes</div>
            <div class="creation__content__text__shapes">
                <img class="creation__content__text__shapes__shape" *ngFor="let item of shapes; let i = index"
                    [src]="item.src" alt="" #shape (click)="selectShape(shape, i)" draggable="false"
                    [class.selected]="i === currentShapeIndex">
            </div>
        </div>

        <div class="creation__content__text">
            <div>Textures</div>
            <div class="creation__content__text__textures">
                <img class="creation__content__text__textures__texture" *ngFor="let item of textures; let i = index"
                    [src]="item.texture" alt="" #texture (click)="selectTexture(i)"
                    [class.selected]="currentTexture === i">
            </div>
        </div>

        <div class="creation__content__btn" (click)="download()">Download your board</div>
    </div>
</div>